*{
margin: 0;
padding: 0;

}
main{
    display: block;

}
header, #banner{
    
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('\1- Iniciante em Programação\2- HTML5 e CSS3\img\maua.png');
    height: 90vh;
    width: 100%;
    background-position: center;
    top: 0;
    }

header .logo{
    width: 15rem;
    border-radius: 50%;
}

header .navbar{
    position: absolute;
    top: 1rem;
    right: 7rem;
    font-size: 1cm;
    text-align: space-between;
    
    
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
   
    
}
a:hover{
    color: rgb(170, 62, 62);
    text-decoration: underline;
    text-transform: color .5s;
}

#banner{
    position: relative;

}