*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);

   }
   

body{
    font-family: 'Times New Roman', arial, serif;
  }

/*nav bar*/

header .container{
    display: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
}

header nav a{

    text-decoration: none;
    color: grey;
    margin-right: 10px;
}

header nav a:hover{
    color: white;
}

.navbar{
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
 }

/* logo */
.logo{
       border-radius: 50%;
        height: 100px;
}

/*banner*/
#banner{
          margin-top: 30px;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
          background-size: cover;
          background-position: center;
          height: 50vh; /* Fallback para navegadores que não suportam gradientes CSS */
          width: 100%;
          position: relative; /* Para que o banner fique no centro */
      }

/*Sobre*/

h2{
    color: white;
    text-align: center;
    height: 45px;
    padding-top: 1px;
}
.sobre{
     margin-top: 650px;
     margin-left: 85px;
     margin-right: 85px;
     border: 5px solid white;
     padding: 10px;
     color: white

}
/*Carrosel*/
.item{
    height: 350px;
}

h3{
  margin: 30px;
  font-size: 35px;
  color: white
}


.service{
    margin-top: 100px;

}

.lista{
    margin: 50px;
    color:white;
    font-size: 20px;
}

/*Produtos*/

.container{
    display: flex;
    }

.produto{
 height: 30px

}

.produtos{
    display: flex;
    align-items: center;

       }


.pomada1, .balm, .pomada{
width: 250px;
}

h4 {
    color: white;
    font-size: 25px;
    }

.Briefing, .descricao {
    font-size: 20px;
    color: white;
    margin: 10px;
    }

/*avaliação*/
.avaliacao{

    width: 45rem;
    float: flex;
    margin: 10px


    }

/*local*/

.local{
    position: absolute;
     width: 50rem;
     display: inline-block;
     max-width: 730px;
     width: 728px;
     margin-top: 10px;

    }

.endereco{
    color: white;
    font-size:20px;

}